@import url('http://fonts.cdnfonts.com/css/futura-md-bt');
@import url('http://fonts.cdnfonts.com/css/futura-bdcn-bt');
@import url('http://fonts.cdnfonts.com/css/futura-lt-bt');

:root {
  --color-caixa-primary: #0066b3;
  --color-caixa-secondary: #f7941d;
  --color-quina: #260085;
  --color-lotofacil: #930089;
  --color-megasena: #209869;
  --color-milionaria: #260085;
  --color-duplasena: #bf194e;
  --color-lotomania: #f7941d;
  --color-body-text: #4c556c;
  --color-card-background: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Futura Md BT', sans-serif;
}

a {
  font-family: 'Futura Lt BT', sans-serif;
}

p,
span,
div {
  font-family: 'Helvetica', 'Roboto', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}
