.pageWrapper {
  display: flex;
  flex-direction: column;
  border: thin solid red;
  min-height: 100vh;
}

.mainContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  gap: 20px;
  width: 100%;
  border: thin solid red;
  
  max-width: 1200px;

  @media (max-width: 1200px) {
    max-width: 980px;
  }

  @media (max-width: 980px) {
    max-width: 768px;
    padding: 0 20px;
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.main {
  grid-column: span 12;

  @media (max-width: 600px) {
    grid-column: span 4;
  }
}

.aside {
  grid-column: span 4;
  @media (max-width: 600px) {
    grid-column: span 4;
  }
}
